.popup__close-button {
  width: 32px;
  height: 32px;
  position: relative;
  top: -40px;
  right: -438px;
  background: none;
  border: none;
  background-image: url('../../../images/close-button.svg');
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: -262px;
  }
}
