.popup__close-button {
  width: 32px;
  height: 32px;
  position: relative;
  top: -40px;
  right: -438px;
  background-image: url('../../../images/close-button.png');
  background-color: rgba(0, 0, 0, 1);
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: -262px;
  }
}
