.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(294px, 1fr) minmax(24px, 1fr);
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 220px;
    grid-template-columns: minmax(189px, 1fr) minmax(18px, 1fr);
    margin: 0 0 0 46px;
  }
}
